# Day1: Import

$ax^2+bx+c = 0$

$x=\frac{-b \pm \sqrt{b^2 - 4ac}}{2a}$

In [ ]:
print("Hello, World!")

In [ ]:
for i in range(5):
    print(i)

# Content
```python
import 
Error handling
Functions
Class - OOP (Object-oriented programming) / การเขียนโปรแกรมเชิงวัตถุ
```

ทวน

In [ ]:
print(2+2)
print("Hello")
print(3**2)

if 2 > 3:
    print("A")
elif 4 > 2:
    print("B")
else:
    print("C")
    
for i in range(6):
    print(i+1)
    
x = 0
while x < 10:
    print("Hi")
    x += 1

In [ ]:
sentence = "I love Bangkok!"

print(sentence[1])
print(sentence[-1])
print(sentence[-2])
# print(sentence[15])

print(sentence[11:14]) # 11,12,13
print(sentence[1:5:2]) # 1,3
print(sentence[::-1]) # reversed

!
k
kok
 o
!kokgnaB evol I

In [15]:
for i in range(1,8,2):
    print(i)

1
3
5
7

In [ ]:
l = [1, 2, 3]
# l.append(4)
# l.insert(1, 4)
# l.extend([4])
# l += [4]
# l = l + [4]
print(l)

[1, 2, 3, 4]

# Import

- built-in library -- random, math, time, os, requests
- external library -- matplotlib, pandas, numpy, torch

## math

In [21]:
import math

In [26]:
print(math.pi)
print(math.gcd(44, 33, 66, 55))

3.141592653589793
11

In [2]:
from math import gcd, lcm, pow, exp,sqrt

In [4]:
gcd(44, 33)

11

In [ ]:
from math import *      # ไม่ควร 
from random import *

In [ ]:
print(sqrt(5))
print(5 ** (1/2))      # asterisks

2.23606797749979
2.23606797749979

## time

In [7]:
import time

seconds = 1
for i in range(5):
    print(i)
    time.sleep(seconds)

0
1
2
3
4

In [ ]:
time.timezone

-25200

In [23]:
print(time.time())

1770436151.7990358

In [28]:
t_start = time.time()
999999 ** 999999
t_end = time.time()
print(t_end - t_start)

4.0877392292022705

## random

In [32]:
import random

In [ ]:
random.random() # random from 0 - 1

0.2964318284916705

In [292]:
random.randint(0, 999999)

87534

In [319]:
# 3 - 6
# 4.58246327647324632

random.random() + 1     # 1-2
random.random() * 5     # 0-5
random.random() * 2 + 3 # 3-5

random.random() * 3 + 3     # 3-6

random.randint(3,5) + random.random()

4.0312348613836235

In [328]:
print(random.choice(["A", "B", "C", "D"]))
print(random.choices(["A", "B", "C", "D"], k=20))

C
['D', 'C', 'C', 'A', 'A', 'D', 'D', 'A', 'B', 'C', 'B', 'B', 'A', 'B', 'C', 'B', 'C', 'D', 'C', 'B']

In [330]:
random.seed(0)
random.random()

0.8444218515250481

## os - Operating System

In [334]:
import os

os.rename("my_handsome_photo.jpg", "my_handsome_photo2.jpg")

In [ ]:
os.remove("my_handsome_photo2.jpg")

In [342]:
os.listdir('x')

['vetit copy 3.jpg',
 'vetit copy 2.jpg',
 'vetit copy 5.jpg',
 'vetit copy 4.jpg',
 'vetit copy.jpg',
 'vetit.jpg']

# Error

In [343]:
print(t)

NameError: name 't' is not defined

In [ ]:
word = "Vetit"
print(word[9])

IndexError: string index out of range

In [345]:
word = "Vetit'
print(word[9])

SyntaxError: unterminated string literal (detected at line 1) (3779939823.py, line 1)

In [346]:
word = "Vetit"
print(word[9]

_IncompleteInputError: incomplete input (3474170349.py, line 2)

In [ ]:
for i in range(5):
print(5)

IndentationError: expected an indented block after 'for' statement on line 1 (2961173668.py, line 2)

In [348]:
2 + "2"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [349]:
import maths

ModuleNotFoundError: No module named 'maths'

In [350]:
d = {'dog': 4}
d['cat']

KeyError: 'cat'

In [351]:
2/0

ZeroDivisionError: division by zero

In [358]:
int("A")

ValueError: invalid literal for int() with base 10: 'A'

In [355]:
import math
math.gcdd(5,6)

AttributeError: module 'math' has no attribute 'gcdd'

---
Errors:
1. Syntax Error - เขียนผิดหลัก Python
2. Exception Error - Error ที่เกิดตอน Run อยู่

In [356]:
for i in range(5)
    print(i)

SyntaxError: expected ':' (3964378094.py, line 1)

In [ ]:
print("Hello")
print("Hello")
print("Hello")
2/0
print("Hello")
print("Hello")
print("Hello")
print("Hello")

Hello
Hello
Hello

ZeroDivisionError: division by zero

try .. except ..

In [ ]:
try:
    a = 2 + 2
    c = 2 + 3
    b = 3 / 0
    print(x) 
except:
    print(a)
    print(c)

4
5

LEVEL 2

In [369]:
try:
    a = 2 + 2
    c = 2 + 3
    print(x) # NameError
    b = 3 / 0 # ZeroDivisionError
except ZeroDivisionError:
    print(2)
except NameError:
    print(3)

3

In [370]:
try:
    a = 3 / 0 # ZeroDivisionError
    print(x) # NameError
    b = int("A") # ValueError
except NameError:
    print("Hello, World!")
except ZeroDivisionError:
    print("Hello, Mars!")
except ValueError:
    print("Hello Jupyter!")

Hello, Mars!

LEVEL 3

In [ ]:
try:
    a = 3 / 0 # ZeroDivisionError
    print(x) # NameError
    b = int("A") # ValueError
except (NameError, ZeroDivisionError):
    print("Hello, World!")
except ValueError:
    print("Hello Jupyter!")
except:
    print("เกิด error อื่นขึ้นมา")

LEVEL 4

In [372]:
try:
    2+2
    # a = 3 / 0 # ZeroDivisionError
    # print(x) # NameError
    # b = int("A") # ValueError
except (NameError, ZeroDivisionError):
    print("Hello, World!")
except ValueError:
    print("Hello Jupyter!")
except:
    print("เกิด error อื่นขึ้นมา")
finally:
    print("END")

END

LEVEL MAX

In [376]:
try:
    print(2+2)
    # a = 3 / 0 # ZeroDivisionError
    # print(x) # NameError
    # b = int("A") # ValueError
except (NameError, ZeroDivisionError):
    print("Hello, World!")
except ValueError:
    print("Hello Jupyter!")
except:
    print("เกิด error อื่นขึ้นมา")
else:
    print("ELSE")
finally:
    print("END")

4
ELSE
END

## raise

In [379]:
# raise IndexError
raise ModuleNotFoundError

ModuleNotFoundError:

In [ ]:
name = input()
if len(name) == 0:
    raise ValueError("บ้าเหรอ เขาให้ใส่ชื่อ ทำไมไม่ยอมพิมพ์")

ValueError: string index out of range

## assert

In [386]:
print("before")
assert 0 > 2
print("after")

before

AssertionError:

In [ ]:
if len(name) == 0:
    raise ValueError("บ้าเหรอ เขาให้ใส่ชื่อ ทำไมไม่ยอมพิมพ์")

assert len(name) != 0

In [ ]:
age = int(input()) # 0-120

if age < 0 or age > 120:
    raise ValueError(f"อายุควรอยู่ระหว่าง 0 ถึง 120 ปี แต่คุณใส่ {age}")

ValueError: อายุควรอยู่ระหว่าง 0 ถึง 120 ปี แต่คุณใส่ 150

In [398]:
age = int(input()) # 0-120
# assert age >= 0 and age <= 120
# assert 0 <= age <= 120, f"อายุผิด คุณใส่ {age} ปีเข้ามา"

assert age > 0, "อายุต้องมากกว่า 0 โว้ย อยู่ในท้องแม่แล้วคลานออกมาพิมพ์เหรอ"
assert age < 120, "แก่จัง ว้าย ขอเด็กกว่านี้"
print(age)

AssertionError: แก่จัง ว้าย ขอเด็กกว่านี้

# Function

$f:A \rightarrow B$

$f(x)=x^2$

$f(x,y)=2xy$

$f(x)=y_1,f(x)=y_2$

---

$f()=4$

1 input 1 output

$f(x)=x^2$

In [ ]:
def square(number):
    result = number ** 2
    return result

In [409]:
print(square(6))
print(square(5))
print(square(11))

36
25
121

0 inputs

In [ ]:
def greet():
    x = 10 * 8
    return x

print(greet())

TypeError: greet() takes 0 positional arguments but 1 was given

0.9999999999.... cat

many inputs

In [ ]:
def product(num1, num2, num3):
    result = num1 * num2 * num3
    return result

print(product(5, 4, 6))

120

0 output

In [414]:
def f():
    print(2+2)

print(f())

4
None

many output

In [424]:
def f(x):
    return x * 2, x, x ** 2 

# tuple
result = f(5)
print(result)
print(result[2])

(10, 5, 25)
25

positional arguments / keyword arguments

In [429]:
def product(a, b, c=7, d=6):
    return a * b * c * d

product(3,2,d=8,c=2)

96

## *args - any number of positional argument

In [438]:
def product(*args):
    result = 1
    for number in args:
        result *= number     # result = result * number
    return result

print(product(2,3,4,5,7,77,6,64,543,2,1,423,4,3,645,7,6,9,12,23))

9213258803601265459200

In [446]:
def product(a,b,c,*args,d=8): 
    print(args)
    # result = 1
    # for number in args:
    #     result *= number     # result = result * number
    # return result

print(product(2,3,4,5,7,77,6,64,543,2,1,423,4,3,645,7,6,9,12,23,d=10))

(5, 7, 77, 6, 64, 543, 2, 1, 423, 4, 3, 645, 7, 6, 9, 12, 23)
None

## **kwargs - any number of keyword arguments

In [457]:
def g(**kwargs):
    print(kwargs)
    return kwargs['a'] * kwargs['b'] * kwargs['c']
    
g(a=5, b=6, c=8, d=10)

{'a': 5, 'b': 6, 'c': 8, 'd': 10}

240

In [459]:
def my_function(a, b, c, *args, x=5, y=6, **kwargs):
    return a, b, c, args, x, y, kwargs

# print(my_function(2, 4, 5))
# print(my_function(2, 4, 5, 8, 9, x=7, z=9))
print(my_function(2, 4, 5, 8, 9, z=9, y=5, x=1))

(2, 4, 5, (8, 9), 1, 5, {'z': 9})

## Recursive Function

In [ ]:
def leo():
    print("Leo")
    return leo()

leo()

Factorial (!)

$n! = n \times (n-1) \times (n-2) \times ... \times 3 \times 2 \times 1$

$5! = 5 \times 4 \times 3 \times 2 \times 1$

$5! = 5 \times 4!$

$n! = n \times (n-1)!$

factorial(n) = n * factorial(n-1)

$1! = 1, 0!=1$

In [ ]:
def factorial(n):
    return n * factorial(n-1)

factorial(5)
# 5 * 4!
# 5 * 4 * 3!
# 5 * 4 * 3 * 2!
# 5 * 4 * 3 * 2 * 1!
# 5 * 4 * 3 * 2 * 1 * 0!
# 5 * 4 * 3 * 2 * 1 * 0 * -1!
# 5 * 4 * 3 * 2 * 1 * 0 * -1 * -2!

In [ ]:
def factorial(n):
    assert n >= 0
    assert isinstance(n, int)
    if n == 0:
        return 1
    return n * factorial(n-1)

factorial(1000)

402387260077093773543702433923003985719374864210714632543799910429938512398629020592044208486969404800479988610197196058631666872994808558901323829669944590997424504087073759918823627727188732519779505950995276120874975462497043601418278094646496291056393887437886487337119181045825783647849977012476632889835955735432513185323958463075557409114262417474349347553428646576611667797396668820291207379143853719588249808126867838374559731746136085379534524221586593201928090878297308431392844403281231558611036976801357304216168747609675871348312025478589320767169132448426236131412508780208000261683151027341827977704784635868170164365024153691398281264810213092761244896359928705114964975419909342221566832572080821333186116811553615836546984046708975602900950537616475847728421889679646244945160765353408198901385442487984959953319101723355556602139450399736280750137837615307127761926849034352625200015888535147331611702103968175921510907788019393178114194545257223865541461062892187960223838971476088506276862967146674697562911234082439208160153780889893964518263243671616762179168909779911903754031274622289988005195444414282012187361745992642956581746628302955570299024324153181617210465832036786906117260158783520751516284225540265170483304226143974286933061690897968482590125458327168226458066526769958652682272807075781391858178889652208164348344825993266043367660176999612831860788386150279465955131156552036093988180612138558600301435694527224206344631797460594682573103790084024432438465657245014402821885252470935190620929023136493273497565513958720559654228749774011413346962715422845862377387538230483865688976461927383814900140767310446640259899490222221765904339901886018566526485061799702356193897017860040811889729918311021171229845901641921068884387121855646124960798722908519296819372388642614839657382291123125024186649353143970137428531926649875337218940694281434118520158014123344828015051399694290153483077644569099073152433278288269864602789864321139083506217095002597389863554277196742822248757586765752344220207573630569498825087968928162753848863396909959826280956121450994871701244516461260379029309120889086942028510640182154399457156805941872748998094254742173582401063677404595741785160829230135358081840096996372524230560855903700624271243416909004153690105933983835777939410970027753472000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

### Fibonacci

1,1,2,3,5,8,13,21,34,55,89,...

$Fibo(n)=Fibo(n-1)+Fibo(n-2)$

$Fibo(1)= 1$, $Fibo(2)=1$

In [473]:
def fibo(n):
    if n == 1:
        return 0
    if n == 2:
        return 1
    return fibo(n-1) + fibo(n-2)

"""
fibo(1) = 1
fibo(2) = 1
fibo(8) = 13
"""
print(fibo(8))

13

In [474]:
t1 = time.time()
fibo(40)
t2 = time.time()
print(t2-t1)

13.254226922988892

### Dynamic Programming

In [2]:
import time

In [3]:
def fibo(n):
    dp = [0 for _ in range(n)]
    dp[0] = 1
    dp[1] = 1
    # [1, 1, 0 ,0 ,0 ,0, 0, 0, 0 ,0, 0, ...]
    for idx in range(2, n):
        dp[idx] = dp[idx-1] + dp[idx-2]
    return dp[-1]

t1 = time.time()
fibo(1000)
t2 = time.time()
print(t2-t1)

0.0001881122589111328

### Function Classwork

In [4]:
def gcd(a, b):
    x = max(a, b)
    while x > 0:
        if a % x == 0 and b % x == 0:
            return x
        else:
            x -= 1
            
gcd(16, 24)

8